﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HairSaloonScheduler</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="~/content/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/content/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    <link rel="stylesheet" href="~/content/css/aos.css">
    <link rel="stylesheet" href="~/content/css/style.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HairSaloonScheduler.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="site-navbar py-1" role="banner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6 col-xl-2" data-aos="fade-down">
                    <h1 class="mb-0">
                        <a asp-controller="Saloon" asp-action="Index" class="text-black h2 mb-0">Hairsal</a>
                    </h1>
                </div>
                <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
                    <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                            <li>
                                <a asp-controller="Employees" asp-action="Index">Our Employees</a>
                            </li>
                            <li>
                                <a asp-controller="Operations" asp-action="Index">Our Operations</a>
                            </li>
                            <li>
                                <a asp-controller="Appointments" asp-action="Create">Book Appointment</a>
                            </li>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li class="d-inline-block">
                                    <a asp-controller="Login" asp-action="Login" class="btn btn-primary">Login</a>
                                </li>
                                <li class="d-inline-block">
                                    <a asp-controller="Login" asp-action="SignUp" class="btn btn-primary">Sign Up</a>
                                </li>
                            }
                            else
                            {
                                <li class="d-inline-block">
                                    <a asp-controller="Login" asp-action="Logout" class="btn btn-primary">Logout</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
                    <div class="d-none d-xl-inline-block">
                        <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                            <li>
                                <a href="#" class="pl-0 pr-3 text-black"><span class="icon-facebook"></span></a>
                            </li>
                            <li>
                                <a href="#" class="pl-3 pr-3 text-black"><span class="icon-twitter"></span></a>
                            </li>
                            <li>
                                <a href="#" class="pl-3 pr-3 text-black"><span class="icon-instagram"></span></a>
                            </li>
                            <li>
                                <a href="#" class="pl-3 pr-3 text-black"><span class="icon-youtube-play"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
                        <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<script src="~/content/js/aos.js"></script>
	<script src="~/content/js/bootstrap.min.js"></script>
	<script src="~/content/js/bootstrap-datepicker.min.js"></script>
	<script src="~/content/js/jquery.countdown.min.js"></script>
	<script src="~/content/js/jquery.magnific-popup.min.js"></script>
	<script src="~/content/js/jquery.stellar.min.js"></script>
	<script src="~/content/js/jquery-3.3.1.min.js"></script>
	<script src="~/content/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/content/js/jquery-ui.js"></script>
	<script src="~/content/js/main.js"></script>
	<script src="~/content/js/mediaelement-and-player.min.js"></script>
	<script src="~/content/js/owl.carousel.min.js"></script>
	<script src="~/content/js/popper.min.js"></script>
<script src="~/content/js/slick.min.js"></script>
    <script src="~/content/js/jquery-3.3.1.min.js"></script>
    <script src="~/content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/content/js/jquery-ui.js"></script>
    <script src="~/content/js/popper.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/owl.carousel.min.js"></script>
    <script src="~/content/js/jquery.stellar.min.js"></script>
    <script src="~/content/js/jquery.countdown.min.js"></script>
    <script src="~/content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/content/js/bootstrap-datepicker.min.js"></script>
    <script src="~/content/js/aos.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>